# Only track Python source files (and this .gitignore)
# Ignore everything at root

# Allow Python files anywhere

# Keep this file
!.gitignore
*.DS_Store
stuff/
*.bin
*.json
runner
vae_runner
*.onnx
.venv/
venv/
.venv-coreml311/

classic_ae/
myface_ds/
node_modules
output/

*.mlpackage/
build/
*.pyc